body{
    background-color: rgb(116, 107, 107);
}
h1{
    color: rgb(76, 36, 184);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(20, 117, 62);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
p{
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: 'New Times Roman', Times, serif;
}